{% extends 'layout/main.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Not very useful error message.</h1>
    </div>
  </div>
</div>
{% endblock %}