body {
  background: #3886FF;
}

.messages {
  font-size: 14px;
}

.link-to-burn {
  color: #000000;
  cursor: pointer;
  text-decoration: underline;
}

.burned-message {
  font-style: italic;
  float: right;
}

.copy-indicator {
  color: white;
  font-size: 0.7em;
  transition: opacity .2s ease-in-out;
  margin-left: 5px;
}

.copy-indicator:after {
  content: 'Copied';
  opacity: 0;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  transform: translate3d(-89%, 0, 0);
}

.copy-indicator.copied:after {
  transform: translate3d(-89%, -6px, 0);
  transition: transform .8s ease-in-out;
  animation: .8s opacity_anima;
}

.hidden {
  opacity: 0;
}

@-webkit-keyframes opacity_anima {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 50;
  }

  100% {
    opacity: 0;
  }

}

@keyframes opacity_anima {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 50;
  }

  100% {
    opacity: 0;
  }

}
