<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Burning Pages</title>
    <link rel="stylesheet" media="screen" href="{{ base_url }}/static/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" media="screen" href="{{ base_url }}/static/assets/css/app.css" />
    <link rel="icon" href="{{ base_url }}/static/assets/img/favicon.ico" />

    <script src="{{ base_url }}/static/assets/js/jquery-3.2.1.min.js"></script>
    <script src="{{ base_url }}/static/assets/js/clipboard.min.js"></script>
    <script src="{{ base_url }}/static/assets/js/events.js"></script>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>


</html>