{% extends 'layout/main.html' %}
{% block content %}
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-12 col-md-8">
    <br/>
    <!-- <p><i>Your session_key is "{{ session_key }}"</i></p> -->
    {% if messages %}
    <br/>
    <b>Your messages:</b>
    <br/>
    <br/>
    <table class="table messages">
    <tbody>
    {% for message in messages %}
    <tr>
      <td>{{ message.text|truncate(20) }}</td>
      <td><span class="link-to-burn" data-clipboard-text="{{ base_url }}/message/{{ message.link }}">{{ message.link }}</span><span class="copy-indicator hidden">Copy</span>{% if message is burned %} <span class="burned-message">burned</span>{% else %} <span class="burned-message">active</span>{% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}
    <br/>
    <h4>New message</h4>
      <form action="api/create-message" method="POST">
        <div class="form-group">
          <textarea class="form-control" maxlength="512" rows=3 id="message" name="message" placeholder="Hey! We are going to have fun tonight. Will you join us?"></textarea>
        </div>
        <div class="form-group">
          <label for="">to burn</label>
          <select class="form-control" name="lifespan" id="lifespan">
            <option value="0">immediately after reading.</option>
            <option value="1">in 5 minute.</option>
            <option value="2">in 1 hour.</option>
            <option value="3">in 24 hours.</option>
          </select>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <br/>
    </div>
  </div>
</div>


{% endblock %}