{% extends 'layout/main.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <br/>
      <h4>{{ message|replace('\n','<br/>') }}</h4>
    </div>
  </div>
</div>
{% endblock %}